body{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    background-color:  #f5f1f1;
    margin:0;
}

main{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:0% 10%;
    
    }
    h1{
        font-size:50px;
    }

.first-header{
    margin-left: 10%;
}


/* Influencer-products
      main Content   */


.products{
    display:flex;
    align-items: center;
    margin-bottom: 100px;
}

.product-description{
    width:70%;
    margin-left: 75px;
}
.product-image{
    width:75%;
    margin-left: 50px;
    
    
}
.main-camera{
    transition: transform 2s ease 0.1s;
}
.main-camera:hover{
    transform: rotate(47deg);
}

.order-link, .contest-link{
    text-decoration: none;
    color: white;
    background-color: #12e70b;
    border: 0;
    padding: 12px 15px;
    font-size: 18px;
    border-radius: 20px;
    align-items: center;
}




/* popular collection 
         store      */

.collection-header{
    text-align: center;
}
.collection-container-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    margin:0px 80px;
    
}
.collection-description{
    color:#000000de
}

 .collections img{
     width:95%;
 }

.collection{
    background-color:white ;
    margin:15px;
    padding:15px 0px 15px 15px;
}
.collection-link{
    display:block;
    text-decoration: none;
    color:#12e70b;
    margin-left: 81%;
    margin-top: 15px;
    margin-bottom:80px;
    font-weight:bold;
}

div>.fas{
    color: #FB8200;
    font-size:12px;
}
.rating{
    margin-left:8px;
    font-size:16px;
}
small{
    color:#787885;
}






/******** feature-blog about contest ******* */
.features{
    display:flex;
    
} 
.feature-header{
    text-align: center;
}
.feature-banner{
    width:80%;
    margin-left: 50px;
}

.feature-description{
    margin-left: 100px;
    width:50%;
}

.feature-container{
  margin:0px 50px 50px 50px;
}




/******** footer ****** */
footer{
    background-color: #0A0826;
    color: white;
    width:100%;
    text-align: center;
}
.footer-heading{
    margin-top:30px;
    margin-bottom:0;
    padding-top:30px;
}
.footer-text{
    margin-top: 8px;
    font-size:14px;
    padding:4px;
}

.icons{
   padding-bottom: 20px;
   
}



/******* responsive ****** */
/* for mobile  */
@media only screen and (max-width: 688px){
    body{
        margin:0;
    }
    .products, .collection-container-div, .features{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-image img{
        width:90%;
        margin-top: 30px;
        margin-right: 35px;
    }
    .contest-link, .collection-link{
        white-space: nowrap;
        padding-right: 15%;
    }
    .collection-link{
        margin-left: 0px;
        text-align: center;
    }
    .feature-description{
        width:300px;
       padding-right: 70px;
    }

}



/* media query 
      tablet view   */

@media only screen and (min-width:689px) and (max-width:1280px){


    .products, .features{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .collection-container-div{
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
    .product-image img{
        width:80%;
        margin-top: 30px;
        margin-right: 35px;
    }
    .contest-link, .collection-link{
        white-space: nowrap;
        padding-right: 15%;
    }

    .feature-description{
        width:300px;
        padding-right: 90px;
    }
.feature-banner{
    width:300px;
   padding-right:30px;
   
}
.collection-link{
    margin-left: 0px;
    text-align: center;
   
}

}
    